<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ app_name }}</title>
    <link rel="stylesheet" href=" {{ static_url('bootstrap.min.css') }}">
</head>
<body>
You are in: {{ base_url }}
    {% block content %} {% endblock %}
</body>
</html>